@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Urbanist:wght@100;300;400;600;800&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #434343;
    max-width: 1920px;
    margin: 0 auto;
}

.header-menu {
    background: url("../images/bg-header.jpg") center no-repeat;

}

.container {
    position: relative;
    max-width: 1142px;
    margin: 0 auto;

    padding: 0px 16px;
}

.contacts {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    padding-right: 20px;
}

.social:last-child {
    padding-right: 0px;
}

.contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contact-address {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.map-address {
    padding-left: 13px;
}

.contact-tell {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 32px;
}

.phone {
    padding-left: 13px;
}

.mobile-menu {
    display: none;
}

.nav_menu {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px 18px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 77px;
    left: 0px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    position: relative;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #8B8B8B;
}

.nav_link.nav-arrow::after {
    content: '';
    width: 10px;
    height: 8px;
    position: absolute;
    right: -12px;
    top: calc(50% - 3px);
    background: url("../images/icons/ico-arrowdown.svg") center no-repeat;
    cursor: pointer;

}

.header-link {
    font-weight: 800;
    font-size: 28px;
    color: #434343;
}

.net-color {
    color: #4CAF50;
}

/*Header block*/

.header {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 140px;
}

.header-content {}

.header-title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}

.header-desc {
    font-size: 20px;
    color: #8B8B8B;
    margin-bottom: 25px;
}

.color-header-desc {
    color: #00ACB1;
}

.header-btn {
    display: inline-block;
    padding: 18px 24px;
    color: #fff;
    background: #4CAF50;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}

/*direction block*/

.main-direction {
    background: url("../images/bg-direction.jpg");
}

.direction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 49px 95px 57px 95px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transform: translateY(-80px);
}

.direction-title {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    padding-bottom: 42px;
}

.direction-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-addiction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.addiction-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
}

.addiction-desc {
    font-weight: 300;
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    line-height: 1.5;
    padding: 0 24px;
}

.main-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
}

.stat-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.stat-icon {
    padding: 0 0 10px 0;
}

.stat-title {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 10px 0;
}

.stat-desc {
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 0 70px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact {
        flex-flow: column nowrap;
    }

    .contact-tell {
        padding: 12px 0;
    }

    .nav_menu {
        display: none;
    }

    .header {
        margin-top: 120px 0;
    }

    .header-title {
        font-size: 35px;
    }

    .direction {
        padding: 43px 49px 43px 49px;
    }

    .direction-title {
        font-size: 30px;
        padding-bottom: 32px;
    }
}